* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #1c1c1c;
    min-height: 100vh;
    padding: 20px;
}

.align-content-center-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.text-align-center {
    text-align: center
}

.content {
    color: #fff;
    font-family: Montserrat, Helvetica, Arial, sans-serif
}

.content h1 {
    font-weight: bolder;
    display: inline-block;
    font-size: 39px;
    font-weight: 100;
    line-height: 1.25em;
    margin-bottom: .25em;
    margin-inline: 33px;
}

.content h2 {
    color: #20E8FE;
}

.content h3 {
    text-align: justify;
    margin-top: 15px;
    margin-left: 20%;
    margin-right: 20%;
    display: inline-block;
    font-weight: 300;
    line-height: 1.4em
}

.content p {
    display: inline-block;
    font-size: calc(6px + 1vw);
    font-weight: 300;
    line-height: 1.4em
}

.footer {
    bottom: 44px;
    position: absolute;
    width: calc(100% - 40px)
}

.logo {
    width: 30%;
}

#under-construction {
    position: fixed;
    top: -4.3%;
    left: 0;
    width: 22%;
    z-index: 1000;
}

@media screen and (max-width: 767px) {
    .content h1 {
        font-size: 22px;
        margin: 0
    }

    .content h2 {
        font-size: 22px;
    }

    .content h3 {
        font-size: 17px;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
    }

    .content p {
        font-size: 14px
    }

    .content .line-break {
        display: block
    }

    .logo {
        width: 80%;
    }

    #under-construction {
        top: -2%;
        width: 40%;
    }
}
