* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    background-color: #000;
    min-height: 100vh;
    overflow: hidden;
    padding: 20px;
    width: 100vw
}

.align-content-center-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.text-align-center {
    text-align: center
}

.cover {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1
}

.cover img {
    height: 100vh;
    object-fit: cover;
    width: 100vw
}

.squarespace-logo {
    left: 20px;
    position: absolute;
    top: 20px
}

.squarespace-logo a {
    display: inline-block
}

.content {
    color: #fff;
    font-family: Montserrat, Helvetica, Arial, sans-serif
}

.content h1 {
    display: inline-block;
    font-size: 39px;
    font-weight: 100;
    line-height: 1.25em;
    margin-bottom: .25em;
    margin-inline: 33px;
    word-break: break-word
}

.content p {
    display: inline-block;
    font-size: calc(6px + 1vw);
    font-weight: 300;
    line-height: 1.4em
}

.footer {
    bottom: 44px;
    position: absolute;
    width: calc(100% - 40px)
}

@media screen and (max-width: 767px) {
    .squarespace-logo {
        left: 50%
    }

    .content h1 {
        font-size: 28px
    }

    .content p {
        font-size: 14px
    }

    .content .line-break {
        display: block
    }
}